{% extends "base.html" %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>

  <title>About US</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
  body {
      font: 400 15px/1.8 Lato, sans-serif;
      color: #777;
  }
  h3, h4 {
      margin: 10px 0 30px 0;
      letter-spacing: 10px;      
      font-size: 20px;
      color: #111;
  }
  .container {
      padding: 80px 120px;
  }


  .nav-tabs li a {
      color: #777;
  }
  




  </style>
</head>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="50">






<div id="band" class="container text-center">
  <h3>ABOUT US..!</h3>
  
  <p>We have created a functional website for online blood management.Using this website it is very easy to request the required blood group.We can either contact a red ribbon club or contact the donors individually.This website is very helpfull those who are willing to donate blood and those who are in need

  We have spend a considerable amount of time working with this website
  We are thankfull to all who supported us.We would like to specially thank one of our collegue Jithin A and our senior Eldho Joy for his valuable support.</p>
  <br>



  


<!-- Container (Contact Section) -->
<div id="contact" class="container">

  
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home">Melvin</a></li>
    <li><a data-toggle="tab" href="#menu1">Praveen</a></li>
    <li><a data-toggle="tab" href="#menu2">Remya</a></li>
    <li><a data-toggle="tab" href="#menu3">Varghese</a></li>
  </ul>

  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
      <h2>Melvin James</h2>
      <p>"Write now i am busy coding..:p"</p>
    </div>
    <div id="menu1" class="tab-pane fade">
      <h2>Praveen Benny</h2>
      <p>"Come on everyone...let's code!"</p>
    </div>
    <div id="menu2" class="tab-pane fade">
      <h2>Remya RT</h2>
      <p>"I am a girl who fell in love with coding"</p>
    </div>
    <div id="menu3" class="tab-pane fade">
      <h2>Varghese Thomas</h2>
      <p>"Coding is an art and i just love it"</p>
    </div>

  </div>
</div>



</body>
</html>

{% endblock content %}