{%extends 'base.html' %}

{%block content%}

<div class="container">

          <h1>Register</h1>

          <form method="POST" class="form-horizontal">
        	{% csrf_token %}


                <fieldset>

                <!-- Form Name -->
                    <legend></legend>


                    <!-- Text input-->
                    <div class="form-group">
                      <label class="col-md-2 control-label" for="username">Username</label>  
                      <div class="col-md-4">
                      <input id="id_{{ form.username.name}}" name="{{ form.username.name}}" type="text" placeholder="Enter your Username" class="form-control input-md" required=""  default="">
                        
                      </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                      <label class="col-md-2 control-label" for="First Name">First Name</label>  
                      <div class="col-md-4">
                      <input id="id_{{ form.first_name.name}}" name="{{ form.first_name.name}}" type="text" placeholder="Enter your First Name" class="form-control input-md" required="" value="{{ first_name.value}}">
                        
                      </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                      <label class="col-md-2 control-label" for="Last Name">Last Name</label>  
                      <div class="col-md-4">
                      <input id="id_{{ form.last_name.name}}" name="{{ form.last_name.name}}" type="text" placeholder="Enter your Last Name" class="form-control input-md" required="" value="{{ last_name.value}}">
                        
                      </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                      <label class="col-md-2 control-label" for="street">Email</label>  
                      <div class="col-md-4">
                      <input id="id_{{ form.email.name}}" name="{{ form.email.name}}" type="email" placeholder="Enter Email" class="form-control input-md" required="" >
                        
                      </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                      <label class="col-md-2 control-label" for="street">Password</label>  
                      <div class="col-md-4">
                      <input id="id_{{ form.email.password1}}" name="{{ form.password1.name}}" type="password" placeholder="Enter Password" class="form-control input-md" required="" >
                        
                      </div>
                    </div>
                        
                    <!-- Text input-->
                    <div class="form-group">
                      <label class="col-md-2 control-label" for="street">Confirm Password</label>  
                      <div class="col-md-4">
                      <input id="id_{{ form.email.password2}}" name="{{ form.password2.name}}" type="password" placeholder="Confirm Password" class="form-control input-md" required="" >
                        
                      </div>
                    </div>
                    <!-- Button -->
                    <div class="form-group">
                      <label class="col-md-2 control-label" for="submit"></label>
                      <div class="col-md-4">
                        <button id="submit" name="submit" class="btn btn-primary">Update</button>
                      </div>
                    </div>


              </fieldset>
        </form>

</div>

{% endblock %}