{%extends 'base.html' %}

{%block content%}






<div class="container-fluid text-center">
  <h3>Want to Register...?</h3>

  <br>
  <div class="row">
  	<br>
  	<br>
    

    <div class="col-sm-6">

      <div class="jumbotron">
	      <p>Willing to donate</p>
	      <p>Fill up your personal informations</p>
	      <br>
	      <a class="btn btn-large btn-info" href="/account/register/donor">Donor</a>
	      </div>
    </div>



    <div class="col-sm-6">

      <div class="jumbotron">
	      <p>Want to create a group</p>
	      <p>Create your own RRC</p>
	      <br>
	      <a class="btn btn-large btn-info" href="/account/register/rrc">RRC</a>
	      </div>
    </div>



</div>










{% endblock %}