{%extends 'base.html' %}

{% block content %}


                <h3><a href="/request/create "class="btn btn-large btn-info">Post a Request</a></h1>

<form method="GET" class="form-horizontal">
          {% csrf_token %}


                <fieldset>

                <!-- Form Name -->
                    <legend>Filter Search</legend>


                    <div class="form-group">
            <label class="col-md-1 control-label" for="street">District</label>  
            <div class="col-md-4">
                      {{ filter.form.district }}
            </div>
          </div>
                    <div class="form-group">
            <label class="col-md-1 control-label" for="street">District</label>  
            <div class="col-md-4">
                      {{ filter.form.blood }}
            </div>
          </div>
                                      <!-- Button -->
                    <div class="form-group">
                      <label class="col-md-1 control-label" for="submit"></label>
                      <div class="col-md-4">
                        <button id="submit" name="submit" class="btn btn-primary">Search</button>
                      </div>
                    </div>


              </fieldset>
        </form>

</div>
  <ul>
<table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Blood</th>
        <th>District</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
    	{% for request in filter.qs %}	
      	<tr>
        	<td><a href="/request/{{request.id}}">{{request.name}}</a></td>
        	<td>{{request.blood}}</td>
          <td>{{request.district}}</td>
        	<td>{{request.date_of_request}}</td>
      	</tr>
      	{% endfor%}
    </tbody>
  </table>
{% endblock %}